<a href="https://colab.research.google.com/github/Steve-YJ/Assignment_Standalone_DL/blob/master/%5B%EB%B0%B1%EB%AC%B8%EC%9D%B4%EB%B6%88%EC%97%AC%EC%9D%BC%ED%83%80%5D_SQL_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 분석을 위한 SQL 기초
* 인프런 백문이불여일타 SQL 기초
* Data Analytics로 일하기 위한 최소한의 역량 갖추기

# 1. Data Table
> 흔히 말하는 표 형식이 바로 Data Table이다


* 행(row)과 열(column)로 이뤄진 표 형식을 Data Table이라고 한다
    * e.g. Google Spread Sheet, Excel을 떠올리면 된다!

# 2. 데이터 호출하기
> SELECT

* 실습은 W3school을 통해 진행
* Customers Data Table로부터 전체 데이터 호출하기

* URL: https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all
* 백문이불여일타! 직접 하나씩 수행해보도록 하자!

## 3. LIKE, IN, BETWEEN, IS NULL

* 정말로 초기본을 다시한번 공부했다
* 학부때 들었던 SQL이후로 실습은 처음인것 같다...

# NEXT
* SQL 이어서 공부하기
* Kaggle Micro Course SQL Tutorial 및 문제풀기!
* from 20.12.30.wed